<%- include('header') %>
    <h2>
        ADMIN VAGAS:
        <a href="/admin/vagas/nova">Nova Vaga</a>
    </h2>
       <div>
        <ul>
            <% vagas.forEach( vaga => { %>
            <li>    
                <%- vaga.titulo %> |
                <a href="/admin/vagas/delete/<%- vaga.id%>">Excluir</a>
                <a href="/admin/vagas/editar/<%- vaga.id%>">Editar</a>
            </li>
            <% }) %>
        </ul>
    </div>          
<%- include('footer') %>